<div class="navigation-wrap start-header estiloNavbar">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-md navbar-dark">
                    
                            <a (click)="refresh()">
                                <img src="../../../../assets/imgs/spotifyBlack.png" class="imagenSpotify" alt="">
                            </a>

                    <div class="dropdown">
                        <button class="dropbtn"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-list" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                          </svg></button>
                        <div class="dropdown-content">
                          <a [routerLink]="['music']"><svg width="1em"
                            height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                        </svg> Buscar </a>
                         
                            <a [routerLink]="['mis-playlist']">
                                <span [matBadge]=userService.totalPlaylist matBadgeOverlap="false"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-music-note-list"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z" />
                                    <path fill-rule="evenodd" d="M12 3v10h-1V3h1z" />
                                    <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z" />
                                    <path fill-rule="evenodd"
                                        d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
                                </svg> Mis playlists</span>
                              </a>
                         
                        </div>
                      </div>
                    <div class="dropdown" style=" margin-left: 1%">
                        <button class="dropbtn"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                          </svg></button>
                        <div class="dropdown-content">
                          <a (click)="openModalProfile()"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M10 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                          </svg> Perfil </a>
                          <a (click)="openModalProfile()"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zm1.146-7.85a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                          </svg> Cerrar sesión</a>
                         
                        </div>
                      </div>
                      


                   <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav" style="align-items: center;">

                            <li class="nav-item " *ngIf="!error" style="margin-top: 6px;width: 5em; ">
                                <a class="nav-link" style="width: 5em;" [routerLink]="['music']">Buscar <svg width="1em"
                                        height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                        <path fill-rule="evenodd"
                                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                    </svg></a>
                            </li>
                            <li class="nav-item" *ngIf="!error" style="width: 8em;margin-left: 10%;margin-top: 6px;">
                                <a class="nav-link" style="width: 8em;" [routerLink]="['mis-playlist']">Mis playlists
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-music-note-list"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z" />
                                        <path fill-rule="evenodd" d="M12 3v10h-1V3h1z" />
                                        <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z" />
                                        <path fill-rule="evenodd"
                                            d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z" />
                                    </svg></a>
                            </li>
                            <li *ngIf="!error" style="width: 1em;margin-left: 10%;margin-top: 6px;">
                                <a style="width: 1em; color: antiquewhite; font-size: 1.5em;">|</a>
                            </li>
                            <li class="nav-item"
                                style="width: 10em; margin-top: 2.8%; text-align: center; justify-content: center; align-items: center;">
                                <a class="nav-link" (click)="openModalProfile()"
                                    style="background-color: transparent; width: 10em;text-align: center; ">

                                    <a style="font-size: 0.em;">@{{userProfile.username}} </a>
                                    <img style="width: 20%;height: 20%; "
                                        [src]="urlImage || 'https://firebasestorage.googleapis.com/v0/b/finalproyectodegrado-3c689.appspot.com/o/fotoPersona.png?alt=media&token=3b465913-4612-4398-b0bf-8f95b24aa8ae'"> 
                                </a>
                            </li>
                            <li class="nav-item" style="margin-left: 10%;">
                                <a class="nav-link" (click)="logout()"><svg width="2em" height="2em" viewBox="0 0 16 16"
                                        class="bi bi-person-x" fill="black" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0zM6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6 5c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10zm1.146-7.85a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z" />
                                    </svg></a>
                            </li>
                        </ul>
                    </div> -->

                </nav>
            </div>
        </div>
    </div>
</div>
<br>

<body class="app" style="text-align: center">
    <main>
        <div class="absolute-center" style="padding-top: 5em;">

            <div *ngIf="error" class="alert alert-danger animated fadeIn" class="divToken">
                <h3><strong>ERROR: </strong> {{ mensajeError }}</h3>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1"
                            style="padding-left: 3em;padding-right: 3em;">Bearer</span>
                    </div>
                    <input type="text" [(ngModel)]="model" class="form-control"
                        style="padding-left: 1em;padding-right: 1em;" placeholder="BQCB9slVgMmWDxn9i..."
                        aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <button type="button" style="padding:0.8em;" (click)="getToken()"
                    class="btn btn-secondary btn-lg btn-block">Leer</button>
            </div>
            <router-outlet>

            </router-outlet>


        </div>
    </main>
    <footer *ngIf="!error">
        <iframe [src]="userService.uriActiva  | domseguro" width="100%"  height="80" frameborder="0"
            allowtransparency="true" allow="encrypted-media"></iframe>

    </footer>
</body>