  
  .contenedor{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(60, 54, 54);
}
@keyframes wave {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .card {
    margin-left: auto;
    margin-right:auto;
    background: #b12856;
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
    overflow: hidden;
    position: relative;
    width: 300px;
    border-radius: 6px;
  }
  .card2 {
      margin-left: auto;
      margin-right:auto;
      background:#b6991b;
      box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
      overflow: hidden;
      position: relative;
      width: 300px;
      border-radius: 6px;
    }

  
  .wave {
    position: absolute;
    height: 750px;
    width: 750px;
    opacity: 0.2;
    left: 0;
    top: 0;
    margin-left: -70%;
    margin-top: -130%;
    background: radial-gradient(#644949, #383737);
  }
  
  .wave:nth-child(2),
  .wave:nth-child(3) {
    top: 10px;
  }
  
  .playing .wave {
    border-radius: 40%;
    animation: wave 3000ms infinite linear;
  }
  /* when stop */
  .wave {
    border-radius: 40%;
    animation: wave 55s infinite linear;
  }
  
  .playing .wave:nth-child(2) {
    animation-duration: 4000ms;
  }
  /* when stop */
  .wave:nth-child(2) {
    animation-duration: 50s;
  }
  
  .playing .wave:nth-child(3) {
    animation-duration: 5000ms;
  }
  /* when stop */
  .wave:nth-child(3) {
    animation-duration: 45s;
  }
 
  .tituloCard{
    color: white;
    text-align: center;
    font-size: 4em;
    font-family: monospace;
    margin-top: 3em;
  }
.form-field{
margin-left: 30%;
width: 40%;
margin-right: 30%;
text-align: center;
align-items: center;
justify-content: center;
background-color: white;
height:60px
}

.container-padre{
    height: auto;
    padding-bottom: 1em;
    width: auto;
    margin: 1em;
}

.form-control{
    display: grid;
              grid-gap: 1rem;
              padding: 1rem;
              max-width: 1024px;
              margin: 0 auto;
              font-family: var(--font-sans);
}