<h1 style="color: rgb(0, 0, 0); text-align: center;">Mis PlayLists</h1>
<div class="container-padre">
    <button class="button-add" (click)="openModal()">Nueva PlayList</button>
</div>


<div class="row" *ngFor="let item of arrayOut">
    
    <div class="col">
        <div class="container">

            <ul>
                <li  style="height: 30%;">
        
                    <div class="container" style="text-align: center;justify-content: center;align-items: center;">
                        <div class="row">
                           
                            <div class="col-sm" style="align-self: center">
                                <h1> <strong> {{item.nombre}}</strong></h1>
                            </div>
                            <div class="col-sm" style="align-self: center">
        
                                <strong style="color: rgb(160, 54, 54);">{{item.description}}</strong>
        
                            </div>
                                <div class="col-sm" style="align-self: center">
                                    {{item.tracks.length}} tracks
                                </div>
        
                            
                            
                            
                        </div>
                    </div>
                   
                </li>
        
            </ul>
        </div>
    </div>
    <div class="col-2" style="    align-self: center;">
        <div class="example-button-container" style="align-self: center; margin-left: 1em;">
            <button mat-raised-button color="primary" (click)="addtrackPlayList(item)">Añadir</button>
        </div>
    </div>
</div>

